*
.DS_Store
BlueJ
BlueJ.app/
BlueJ.app/Contents/Resources/Java/tutorial/*
projects/JLayer1.0.1/
projects/JLayer1.0.1/**/*.*
projects/JLayer1.0.1/src/javazoom/jl/*

!projects/chapter*/
!projects/chapter*/*/*.java
!BlueJ.app/Contents/Resources/Java/english/templates/newclass/stdclass.tmpl
!projects/Midterm_Exam/
