$PKGLINE
/**
 * Write a description of class $CLASSNAME here.
 *
 * @author Julian Canepa
 * @version
 */
public class $CLASSNAME
{
    /**
     * Constructor for objects of class $CLASSNAME
     */
    public $CLASSNAME()
    {
        //
    }
}
